.infoBox {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    flex: 1;
    cursor: pointer;
}

.infoBox:hover {
    background: linear-gradient(to right, #444749, #2d3031);
}

.infoBox:active {
    background: linear-gradient(to right, #303133, #141516);
}

.infoBox__title,
.infoBox__total {
    color: whitesmoke !important;
}

.infoBox__cases {
    color: #829eb4;
}

.infoBox--cases {
    border-top: 10px solid #40F6FF;
    color: #40F6FF;
}

.infoBox--recovered {
    border-top: 10px solid greenyellow;
    color: greenyellow;
}

.infoBox--deaths {
    border-top: 10px solid #cc1034;
    color: #cc1034;
}

.infoBox__cases--cases {
    color: #40F6FF;
}

.infoBox__cases--recovered {
    color: greenyellow;
}

.infoBox__cases--deaths {
    color: #cc1034;
}

.infoBox__cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__total {
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

@media (max-width: 414px) {
    .infoBox__cases {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }

    .MuiCardContent-root {
        padding: 0.3rem !important;
    }
}