.table {
    overflow-y: scroll;
    height: 30.7rem;
    color: #6a5d5d;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    background-color: whitesmoke;
}

.MuiPaper-root {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr:hover {
    color: black;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #ccd9e4;
}

.table tr:nth-of-type(odd):hover {
    color: black;
}